realtime-flight-ops/orchestration/PL_Flights.DataPipeline/pipeline-content.json
{
  "properties": {
    "activities": [
      {
        "type": "IfCondition",
        "typeProperties": {
          "expression": {
            "value": "@greater(\n  activity('GetLakehouseWatermark').output.result.exitValue,\n  activity('GetWarehouseWatermark').output.firstRow.LastIngestedDate\n)\n",
            "type": "Expression"
          },
          "ifTrueActivities": [
            {
              "type": "TridentNotebook",
              "typeProperties": {
                "notebookId": "fe8b80a9-5a67-8caa-4ae5-ed1bef8c117d",
                "workspaceId": "00000000-0000-0000-0000-000000000000"
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "TransformNotebook",
              "dependsOn": []
            },
            {
              "type": "Script",
              "typeProperties": {
                "scripts": [
                  {
                    "text": {
                      "value": "DROP VIEW IF EXISTS Aviation.StagingAirports;\r\nEXEC('CREATE VIEW Aviation.StagingAirports\r\nAS SELECT DISTINCT AirportKey, IATACode, ICAOCode, AirportName, Latitude, Longitude, Elevation, TimeZone, Country, City, State\r\nFROM LH_Flights.dbo.dimairports;');\r\n\r\nDROP VIEW IF EXISTS Aviation.StagingAirlines;\r\nEXEC('CREATE VIEW Aviation.StagingAirlines\r\nAS SELECT DISTINCT AirlineKey, IATACode, ICAOCode, AirlineName, Country\r\nFROM LH_Flights.dbo.dimairlines;');\r\n\r\nDROP VIEW IF EXISTS Aviation.StagingDates;\r\nEXEC('CREATE VIEW Aviation.StagingDates\r\nAS SELECT DISTINCT DateKey, Date, Year, Month, Day, MonthName, DayName\r\nFROM LH_Flights.dbo.dimdates;');\r\n\r\nDROP VIEW IF EXISTS Aviation.StagingFlights;\r\nEXEC('CREATE VIEW Aviation.StagingFlights\r\nAS SELECT DISTINCT IngestedAt, FlightDate, ScheduledDeparture, ScheduledArrival, DepartureDelay, ArrivalDelay, DepartureAirportKey, ArrivalAirportKey, AirlineKey, FlightNumber, Status\r\nFROM LH_Flights.dbo.factflights;');\r\n",
                      "type": "Expression"
                    },
                    "type": "NonQuery"
                  }
                ],
                "scriptBlockExecutionTimeout": "02:00:00"
              },
              "linkedService": {
                "name": "WH_Flights",
                "properties": {
                  "type": "DataWarehouse",
                  "typeProperties": {
                    "artifactId": "a11bb1b3-a963-4d0f-80ff-9f63e140236f",
                    "endpoint": "xisdbyhsv57ubp3vvd3oymv5ou-ygllrr4btvyuvprv76ktllayye.datawarehouse.fabric.microsoft.com",
                    "workspaceId": "c7b896c1-9d81-4a71-be35-ff9535ac18c1"
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "RefreshStagingViews",
              "dependsOn": [
                {
                  "activity": "TransformNotebook",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "SqlServerStoredProcedure",
              "typeProperties": {
                "storedProcedureName": "[Aviation].[InsertFlightsProc]"
              },
              "linkedService": {
                "name": "WH_Flights",
                "properties": {
                  "type": "DataWarehouse",
                  "typeProperties": {
                    "artifactId": "a11bb1b3-a963-4d0f-80ff-9f63e140236f",
                    "endpoint": "xisdbyhsv57ubp3vvd3oymv5ou-ygllrr4btvyuvprv76ktllayye.datawarehouse.fabric.microsoft.com",
                    "workspaceId": "c7b896c1-9d81-4a71-be35-ff9535ac18c1"
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "UpsertDimRefreshFact",
              "dependsOn": [
                {
                  "activity": "RefreshStagingViews",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            },
            {
              "type": "Script",
              "typeProperties": {
                "scripts": [
                  {
                    "text": {
                      "value": "INSERT INTO Aviation.IngestionLogs\n  (TableName, ProcessedTime, RecordCount, Status)\nSELECT\n  'flights' AS TableName,\n  MAX(IngestedAt) AS ProcessedTime,  \n  COUNT(*) AS RecordCount,\n  'Succeeded' AS Status\nFROM LH_Flights.dbo.flights\nWHERE IngestedAt > (\n    SELECT COALESCE(MAX(ProcessedTime), '1900-01-01T00:00:00.000')\n    FROM Aviation.IngestionLogs\n    WHERE TableName = 'flights'\n);",
                      "type": "Expression"
                    },
                    "type": "NonQuery"
                  }
                ],
                "scriptBlockExecutionTimeout": "02:00:00"
              },
              "linkedService": {
                "name": "WH_Flights",
                "properties": {
                  "type": "DataWarehouse",
                  "typeProperties": {
                    "artifactId": "a11bb1b3-a963-4d0f-80ff-9f63e140236f",
                    "endpoint": "xisdbyhsv57ubp3vvd3oymv5ou-ygllrr4btvyuvprv76ktllayye.datawarehouse.fabric.microsoft.com",
                    "workspaceId": "c7b896c1-9d81-4a71-be35-ff9535ac18c1"
                  },
                  "annotations": []
                }
              },
              "policy": {
                "timeout": "0.12:00:00",
                "retry": 0,
                "retryIntervalInSeconds": 30,
                "secureInput": false,
                "secureOutput": false
              },
              "name": "UpdateIngestionLogs",
              "dependsOn": [
                {
                  "activity": "UpsertDimRefreshFact",
                  "dependencyConditions": [
                    "Succeeded"
                  ]
                }
              ]
            }
          ],
          "ifFalseActivities": []
        },
        "name": "IfNewDataExists",
        "dependsOn": [
          {
            "activity": "GetWarehouseWatermark",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      },
      {
        "type": "TridentNotebook",
        "typeProperties": {
          "notebookId": "dba4db37-4abe-afcf-4870-7c31b30cd4e1",
          "workspaceId": "00000000-0000-0000-0000-000000000000"
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "GetLakehouseWatermark",
        "dependsOn": []
      },
      {
        "type": "Lookup",
        "typeProperties": {
          "source": {
            "type": "DataWarehouseSource",
            "sqlReaderQuery": "SELECT COALESCE(MAX(ProcessedTime), CAST('1970-01-01 00:00:00.00' AS DATETIME2(3)))\r\nAS LastIngestedDate\r\nFROM Aviation.IngestionLogs \r\n;",
            "partitionOption": "None",
            "queryTimeout": "02:00:00"
          },
          "datasetSettings": {
            "type": "DataWarehouseTable",
            "schema": [],
            "linkedService": {
              "name": "WH_Flights",
              "properties": {
                "type": "DataWarehouse",
                "typeProperties": {
                  "artifactId": "a11bb1b3-a963-4d0f-80ff-9f63e140236f",
                  "endpoint": "xisdbyhsv57ubp3vvd3oymv5ou-ygllrr4btvyuvprv76ktllayye.datawarehouse.fabric.microsoft.com",
                  "workspaceId": "c7b896c1-9d81-4a71-be35-ff9535ac18c1"
                },
                "annotations": []
              }
            },
            "annotations": []
          }
        },
        "policy": {
          "timeout": "0.12:00:00",
          "retry": 0,
          "retryIntervalInSeconds": 30,
          "secureInput": false,
          "secureOutput": false
        },
        "name": "GetWarehouseWatermark",
        "dependsOn": [
          {
            "activity": "GetLakehouseWatermark",
            "dependencyConditions": [
              "Succeeded"
            ]
          }
        ]
      }
    ]
  }
}